{% extends "base.html" %}

{% block title %}Brave Software | Development Timeline{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/shortcode_timeline2.css">
{% endblock %}

{% block mainContent %}
 <!--=== Parallax Counter v3 ===-->
    <div class="parallax-counter-v3 parallaxBg">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-xs-2 md-margin-bottom-50">
                   <h1>Development Timeline</h1>
                </div>
            </div>
        </div><!--/end container-->
    </div>
    <!--=== End Parallax Counter v3 ===-->

   <!--=== Content Part ===-->

            <!-- Begin Content -->
            <div class="col-md-12 bg-light">
                <ul class="timeline-v2">
                    <li class="equal-height-columns">
                        <div class="cbp_tmtime equal-height-column"><span>01/15/16</span> <span>January</span></div>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel equal-height-column">
                            <p>Crucial Features</p><BR>

                            <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i> Base functionality</li>
                                        <li><i class="fa fa-check color-green"></i> Tracker Blocking</li>
                                        <li><i class="fa fa-check color-green"></i> Ad Blocking</li>
                                        <li><i class="fa fa-check color-green"></i> HTTPS Everywhere integration</li>
                                    </ul>
                            </div>
                                <HR><HR>
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Dev Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <p>Beta Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <p>Stable Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>                             
                             </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>0.7 dev </h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <h2>--</h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <h2>--</h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>                             
                             </div>
                            <div class="row"><div class="col-md-10">
                                <div class="row"><div class="col-md-10"><P> 0.7 is complete as of launch. Pre-packaged builds will be available for those who can't build Brave from GitHub.</P></div></div>
                            </div>
                        </div>
                    </li>
                            
                              <li class="equal-height-columns">
                        <div class="cbp_tmtime equal-height-column"><span>02/26/16</span> <span>February</span></div>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel equal-height-column">
                            <p>Crucial Features</p>
                            <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i> Placeholder Ads</li>
                                        <li><i class="fa fa-check color-green"></i> In-browser preference modeling</li>
                                        <li><i class="fa fa-check color-green"></i> Multiple update channel support</li>
                                        <li><i class="fa fa-check color-green"></i> Customization over tracking / adblock</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i> Block third party cookies</li>
                                        <li><i class="fa fa-check color-green"></i> Prefs system</li>
                                        <li><i class="fa fa-check color-green"></i> Private Browsing (iOS)</li>
                                        <li><i class="fa fa-check color-green"></i> HTTPS UI (cert warning pages, etc.)</li>
                                    </ul>
                                </div>
                            <HR><HR><BR>
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Dev Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <p>Beta Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <p>Stable Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>                             
                             </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>0.8 dev </h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <h2>0.7 beta</h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <h2>--</h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>                             
                             </div>
                            <div class="row"><div class="col-md-10">
                                <div class="row"><div class="col-md-10"><P> This phase will allow users to control/override blocking and privacy features on a per-site basis. In-browser preference modeling will allow the browser to use its own browsing history to determine what the user is interested in without revealing browsing activity to advertisers.</P></div></div>
                            </div>
                        </div>
                    </li>
                            
                       <li class="equal-height-columns">
                        <div class="cbp_tmtime equal-height-column"><span>03/08/16</span> <span>April</span></div>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel equal-height-column">
                            <p>Crucial Features</p>
                            <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i> Wallets &amp; Payment System</li>
                                        <li><i class="fa fa-check color-green"></i> Safe Browsing integration</li>
                                        <li><i class="fa fa-check color-green"></i> Password management</li>
                                        <li class="invisible"><i class="fa fa-check color-green"></i> ---</li>
                                    </ul>
                                </div>
                               <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                        <li class="invisible"><i class="fa fa-check color-green"></i> ---</li>
                                        <li class="invisible"><i class="fa fa-check color-green"></i> ---</li>
                                        <li class="invisible"><i class="fa fa-check color-green"></i> ---</li>
                                        <li class="invisible"><i class="fa fa-check color-green"></i> ---</li>
                                    </ul>
                                </div>

<!--                            <HR><HR><BR>-->
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Dev Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <p>Beta Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <p>Stable Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>                             
                             </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>0.9 dev </h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <h2>0.8 beta</h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <h2>0.7 stable</h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>                             
                             </div>
                            <div class="row"><div class="col-md-10">
                                  
                                <div class="row"><div class="col-md-10"><P> Bitcoin wallets will be created for each publisher automatically so they can receive ad revenue and micropayments.</P></div></div>
                            </div>
                        </div>
                    </li>
                            
                             <li class="equal-height-columns">
                        <div class="cbp_tmtime equal-height-column"><span>05/20/16</span> <span>May</span></div>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel equal-height-column">
                            <p>Crucial Features</p>
                            <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i> Anonymous Confirmation System</li>
                                        <li><i class="fa fa-check color-green"></i> Monthly accounting UI (AdFree mode)</li>
                                        <li class="invisible"><i class="fa fa-check color-green"></i> ---</li>
                                        <li class="invisible"><i class="fa fa-check color-green"></i> ---</li>
                                    </ul>
                                </div>
                               <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                        <li class="invisible"><i class="fa fa-check color-green"></i> ---</li>
                                        <li class="invisible"><i class="fa fa-check color-green"></i> ---</li>
                                        <li class="invisible"><i class="fa fa-check color-green"></i> ---</li>
                                        <li class="invisible"><i class="fa fa-check color-green"></i> ---</li>
                                    </ul>

                            </div>
<!--                            <HR><HR><BR>-->
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Dev Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <p>Beta Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <p>Stable Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>                             
                             </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>1.0 dev </h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <h2>0.9 beta</h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <h2>0.8 stable</h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>                             
                             </div>
                            <div class="row"><div class="col-md-10">
                                  
                                <div class="row"><div class="col-md-10"><P> This phase will include the automated accounting UI that tallies amount of content read per-site and divides monthly user donation into micropayments as needed. The anonymous confirmation system will allow advertisers to confirm ad impressions using zero-knowledge proofs so that the confirmation is unlinkable to any particular user.</P></div></div>
                            </div>
                        </div>
                    </li>
                                
                              <li class="equal-height-columns">
                        <div class="cbp_tmtime equal-height-column"><span>07/01/16</span> <span>July</span></div>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel equal-height-column">
                            <p>Crucial Features</p>
                            <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i> Import from other browsers</li>
                                        <li><i class="fa fa-check color-green"></i> Signals viewer UI</li>
                                        <li><i class="fa fa-check color-green"></i> Script blocking</li>
                                        <li class="invisible"><i class="fa fa-check color-green"></i> ---</li>
                                    </ul>
                                </div>
                               <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                        <li class="invisible"><i class="fa fa-check color-green"></i> ---</li>
                                        <li class="invisible"><i class="fa fa-check color-green"></i> ---</li>
                                        <li class="invisible"><i class="fa fa-check color-green"></i> ---</li>
                                        <li class="invisible"><i class="fa fa-check color-green"></i> ---</li>
                                    </ul>
                                </div>

                            <HR><HR><BR>
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Dev Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <p>Beta Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <p>Stable Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>                             
                             </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>1.1 dev </h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <h2>1.0 beta</h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <h2>0.9 stable</h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>                             
                             </div>
                            <div class="row"><div class="col-md-10">
                                   
                                <div class="row"><div class="col-md-10"><P> This phase includes features to help users move from other browsers to Brave, as well as an interface for users to see their own anonymous ad inference data over time.</P></div></div>
                            </div>
                        </div>
                    </li>
                            
                          <li class="equal-height-columns">
                        <div class="cbp_tmtime equal-height-column"><span>08/26/16</span> <span>August</span></div>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel equal-height-column">
                            <p>Crucial Features</p>
                            <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i> Sync Management</li>
                                        <li><i class="fa fa-check color-green"></i> History Management</li>
                                        <li><i class="fa fa-check color-green"></i> History Manager UI</li>
                                        <li><i class="fa fa-check color-green"></i> Bookmark Management</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i> Bookmark Manager UI</li>
                                        <li><i class="fa fa-check color-green"></i> Download Management</li>
                                        <li><i class="fa fa-check color-green"></i> Download Manager UI</li>
                                        <li><i class="fa fa-check color-green"></i> Form Autofill</li>
                                    </ul>
                                </div>
                            <HR><HR><BR>
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Dev Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <p>Beta Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <p>Stable Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>                             
                             </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>1.2 dev </h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <h2>1.1 beta</h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <h2>1.0 stable</h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>                             
                             </div>
                            <div class="row"><div class="col-md-10">
                                   
                                <div class="row"><div class="col-md-10"><P> This release will have various features for Brave to achieve parity with other browsers, making it easier to adopt.</P></div></div>
                            </div>
                        </div>
                    </li>
                                
                           
                                
                                                            
                          <li class="equal-height-columns">
                        <div class="cbp_tmtime equal-height-column"><span>10/07/16</span> <span>October</span></div>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel equal-height-column">
                            <p>Crucial Features</p>
                            <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i> TBD</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                        <li class="invisible"><i class="fa fa-check color-green"></i> ---</li>
                                    </ul>
                                </div>
                            <HR><HR><BR>
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Dev Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <p>Beta Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <p>Stable Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>                             
                             </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>1.3 dev </h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <h2>1.2 beta</h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <h2>1.1 stable</h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>                             
                             </div>
                            <div class="row"><div class="col-md-10">
                                  
                                <div class="row"><div class="col-md-10"><P> Schedule defined but functionality is still TBD based on user feedback.</P></div></div>
                            </div>
                        </div>
                    </li>
                                
                           
                                                            
                          <li class="equal-height-columns">
                        <div class="cbp_tmtime equal-height-column"><span>11/18/16</span> <span>November</span></div>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel equal-height-column">
                            <p>Crucial Features</p>
                            <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i> TBD</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                        <li class="invisible"><i class="fa fa-check color-green"></i> TBD</li>
                                    </ul>
                                </div>
                            <HR><HR><BR>
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Dev Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <p>Beta Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <p>Stable Channel</p>
                                    <div class="md-margin-bottom-20"></div>
                                </div>                             
                             </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>1.4 dev </h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <h2>1.3 beta</h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                  <div class="col-md-4">
                                    <h2>1.2 stable</h2>
                                    <div class="md-margin-bottom-20"></div>
                                </div>                             
                             </div>
                            <div class="row"><div class="col-md-10">
                                  
                                <div class="row"><div class="col-md-10"><P> Schedule defined but functionality is still TBD based on user feedback.</P></div></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
{% endblock %}
