{% extends "base.html" %}

{% block title %}Brave Software | FAQs{% endblock %}

{% block mainContent %}
 <!--=== Parallax Counter v3 ===-->
    <div class="parallax-counter-v3 parallaxBg">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6 md-margin-bottom-50">
<!--

                    <div class="features">
                        <span class="counter">5867</span>
                        <span class="features-info">Customers</span>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 md-margin-bottom-50">
                    <div class="features">
                        <span class="counter">7169</span>
                        <span class="features-info">Downloads</span>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="features">
                        <span class="counter">3146</span>
                        <span class="features-info">Awards</span>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="features">
                        <span class="counter">9450</span>
                        <span class="features-info">Projects</span>
                    </div>
-->
                </div>
            </div>
        </div><!--/end container-->
    </div>
    <!--=== End Parallax Counter v3 ===-->


   <!--=== Content Part ===-->
    <div class="container content">
    	<div class="row">
            <div class="col-md-9">
    			<!-- General Questions -->
                <div class="headline"><h2>Frequently Asked Questions</h2><p><h6><a href="FAQ.html">[reopen all questions]</a></h6></p></div>
                <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    1. How does replacing ads with ads help the user experience?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                We block trackers, that’s a big win compared to the status quo. We also block eyesore ads that won’t be replaced (think of those parasite pictures in image grids at the bottom of pages). We currently replace only certain standard-sized ads, and we aim for higher quality than what would have been served in those spaces. So we reduce the total number of ads experienced by the user and increase the quality and relevance, while simultaneously blocking trackers that follow your activity across sites.


                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    2. Are you using the “Acceptable Ads” model? 
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>There are two parts to that <a href="https://adblockplus.org/acceptable-ads" target="_blank">model</a>, filter rules and business deals. Take the second first:<BR><BR>
1. We do not use the business model of taking annual fees from advertisers to allow their ads (and trackers for confirmation) to pass unblocked. Our business model does not couple our ad and flat fee based revenue to which ads we block.<BR><BR>
2. We do use some of the filter rules that are associated with “Acceptable Ads” to block known-bad domains and URL patterns; and to block and clean up after HTML-native ads.
</p>
                                
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    3. Do you require publishers to partner with you before you replace ads, or else block their ads?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>No, we block without reference to any business relationships, and our brand value depends on us doing so. We will not take “pay to play” money from advertisers or publishers, or extort publishers with blocking threats. Our goal is to make better revenue for all publishers, and give users better ads and control of their data.
</p>                                
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    4. Why build a browser and not extensions for top browsers?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Extensions face API and performance limits. Our own browser lets us put our best foot forward on speed and deep integration of private ad-tech. We may do extensions if our users find themselves browsing in other browsers often.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    5. Why aren’t you using Mozilla’s Gecko engine on laptops?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>We were, under a partially sandboxed, multi-process architecture called Graphene. But we did a careful head-to-head comparison and by every measure, Electron/chromium won. We wish Mozilla well, but as a startup, we must use all sound leverage available to us. For web compatibility and in particular Chrome compatibility, this means chromium.
</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                    6. How do you relieve concerns that you are spyware?

                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse in">
                            <div class="panel-body">
                                We use all-open source, and we welcome help in auditing our source and verifying our binaries on Debian Linux (verified binaries provably derive from a given version of open source). See <a href="https://brendaneich.com/2014/01/trust-but-verify/" target="_blank">https://brendaneich.com/2014/01/trust-but-verify/</a> for more on verified builds.<BR>
Beyond this lower-level auditing, we will need partners to believe in our anonymous ad attribution and conversion confirmation system. More on this as we build it out in near-term milestones on the road to Brave 1.0.

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                    7. With whom are you partnering?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse in">
                            <div class="panel-body">
                                BitGo for Bitcoin wallets and identity services. Fastly for edge caching of ads and our site content. Sonobi for intent-cast ad-matching.

                            </div>
                        </div>
                    </div>
                        <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                                    8. How do you use Bitcoin (BTC)?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse in">
                            <div class="panel-body">
                                We’re still developing the system, now entirely in the open source on github.com, but at this point we know we will use BTC only for permissionless payment delivery to user and publisher wallets that we will create using BitGo’s APIs. We hope to keep funds in BTC only in monthly payment buffers, to reduce effects of volatility. We intend to let expert users “bring their own BTC” to self-fund their wallets and auto-micropay for as much of their browsing as they like.
                            </div>
                        </div>
                    </div>
                        <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                                    9. Will you standardize your intent-casting protocol?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse9" class="panel-collapse collapse in">
                            <div class="panel-body">
                                We intend to when multiple partners in different regions have helped shake it out. It’s a capital mistake to standardize prematurely, so we must first innovate, deploy, and learn.
                            </div>
                        </div>
                    </div>
                        <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse10">
                                    10. Are all ads blocked or can users allow some or all?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse10" class="panel-collapse collapse in">
                            <div class="panel-body">
                                With blocking enabled, most standard ad sizes will be blocked/replaced. Users have the options to turn off both ad blocking and ad replacement. We intend to work with publishers to enable display of their direct-sold inventory and provide access to our private targeting system.
                            </div>
                        </div>
                    </div>
                        <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse11">
                                    11. Where will the replacement ads come from? In what way is this an improvement?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse11" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Our browser-inserted ads will come from ad agencies and our direct partners. We have several advantages over traditional channels:<BR><BR>
1. The in-browser targeting engine has substantially more information about the user's activity available to it than traditional tracking methods, while simultaneously providing greater privacy and control for the user. <BR><BR>
2. We can provide access to all of the top publishers through a single channel with guaranteed “share of voice”. This combination of better targeting and first-look access to all of the premium placements our users browse is something that no one else can provide.
                            </div>
                        </div>
                    </div>
                        <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse12">
                                    12. The blog post mentions that ads are targeted based on browser-side intent signals. What are these signals?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse12" class="panel-collapse collapse in">
                            <div class="panel-body">
                                As mentioned above, the browser knows almost everything you do. It knows what sites you visit, how much time you spend on them, what you look at, what is visible “above the fold” and not occluded by opaque layers, what searches you make, what groups of tabs you open while researching major purchases, etc.<BR><BR>
Only the browser, after HTTPS terminates and secure pages are decrypted, has all of your private data needed to analyze user intent. Our auditable open source browser code protects this intent data on the client device. Our server side has no access to this data in the clear, nor does it have decryption keys. We do not run a MitM proxy or VPN service.<BR><BR>
We provide signals to the browser to help it make good decisions about what preferences and intent signals to expose to maximize user, publisher and advertiser value. Each ad request is anonymous, and exposes only a small subset of the user's preferences and intent signals to prevent "fingerprinting" the user by a possibly unique set of tags.

                            </div>
                        </div>
                    </div>
                        <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse13">
                                    13. What kind of data is stored in the Brave Vault? Can users access it?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse13" class="panel-collapse collapse in">
                            <div class="panel-body">
                                The vault generates a UUID upon connection from your first Brave install on a laptop or smartphone. This UUID will be shared across devices so you can pair devices without a login system, using just a QR code or similar. The browser supplies a public key for authentication of this anonymous identity. Everything else inside the vault is encrypted by a browser-generated key that we have no access to.<BR><BR>
The Brave Vault can hold information that users would like to sync across devices such as bookmarks, passwords, etc. -- but only with user permission to sync this data. It also holds the combined, anonymized cross-device browser history captured by the browser. The user can access any of this information and has complete control over what is stored. The vault is not connected to any PII, email, username, etc.
                            </div>
                        </div>
                    </div>
                        <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse14">
                                    14. What might you use the anonymized history data for?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse14" class="panel-collapse collapse in">
                            <div class="panel-body">
                                We hope to aggregate anonymized data across browsers to help improve the in-browser targeting engine, but Brave cannot receive cleartext data from any single user/device.
                            </div>
                        </div>
                    </div>
                        <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse15">
                                    15. Why doesn’t Brave block search ads, for example on Google search engine result pages?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse15" class="panel-collapse collapse in">
                            <div class="panel-body">
                                While we will block third-party cookies where you have no first-party relationship with the cookie’s domain, we don't block first party cookies by default. However, the Brave user will have the option to selectively block/enable cookies globally or on a site-by-site basis. Google will only have the ability to track you within their own domain and they won't be able to use that information to target you outside of google.com.
                            </div>
                        </div>
                    </div>
                            <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse16">
                                    16. Are there any other ads that Brave would not block?

                                </a>
                            </h4>
                        </div>
                        <div id="collapse16" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Our plan for the future includes allowing publishers to signal the browser in real-time when they have direct-sold ads that are worth more than what Brave can provide. The ads must be relevant and meet our general quality standards (non-intrusive, no trackers, etc…), but this determination will be made dynamically and will never involve any whitelisting fees. The goal is to maximize value while protecting user privacy and control. The user will always have the option to “downvote” an ad regardless of its source.
                            </div>
                        </div>
                    </div>
                            <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse17">
                                    17. Will Brave sell user data to advertisers?

                                </a>
                            </h4>
                        </div>
                        <div id="collapse17" class="panel-collapse collapse in">
                            <div class="panel-body">
                                As earlier answers explain, we do not even have access to identifiable user data. The anonymized aggregated ad campaign related data we do collect is used for accounting and reporting, but this data cannot be mapped back to devices or user identities of any kind.
                            </div>
                        </div>
                    </div>
                </div><!--/acc-v1-->
                <!-- End General Questions -->

    		</div><!--/col-md-9-->
            </div>
             </div>
{% endblock %}
