/* Add here all your css styles (customizations) */

/* hack for the Team grid not stacking right */
@media (max-width: 770px) {
	#team .col-sm-3 {
		min-height: 450px;
	}
}
@media (max-width: 550px) {
	#team .col-sm-3 {
		min-height: 345px;
	}
}
@media (max-width: 500px) {
	#team .col-sm-3 {
		min-height: 320px;
	}
}
@media (max-width: 450px) {
	#team .col-sm-3 {
		min-height: 300px;
	}
}
@media (max-width: 400px) {
	#team .col-sm-3 {
		min-height: 275px;
	}
}
@media (max-width:990px) {
	#fullsize-menu {
		clear: left;
		margin-left:72px;
	}
}
@media (min-width:990px) {
	.brave-nav {
		position:absolute; 
		bottom:0px; 
		right:40px;
	}
}

/* mailchimp signup */
#mc_embed_signup_slider{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

